p {
    color: white;
    text-shadow: 1px 1px 1px #fff;
}
form {
    padding: 50px;
    border-radius: 20px;
    margin: 0 auto;
}

.segment {
    padding: 32px 0;
    text-align: center;
    color: white;
}

button, input {
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 320px;
    padding: 16px;
    background-color: white;
    text-shadow: 1px 1px 0 #fff;
}

label {
    display: block;
    margin-bottom: 24px;
    width: 100%;
}

input {
    margin-right: 8px;
    box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
}