.carousel-item {
    height: 85vh;
}

.carousel-caption {
    bottom: 50px !important;
}

.cust {
    color: white;
    border-color: white;
}

.red {
    color: red;
}

table td {
    border: 1px dotted black;
}

table th {
    border: 1px dotted black;
}

td, th {
    width: 137px;
}

