<footer id="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-sm-push-6 footer-social-icons">
                <span>Follow us:</span>
                    <a href=""> <img [src]="contact1"> </a>
                    <a href=""> <img [src]="contact2"> </a>
                    <a href=""> <img [src]="contact3"> </a>
                    <a href=""> <img [src]="contact4"> </a>
            </div>

            <!-- Social Icons -->
            <div class="col-sm-6 text-right">
                <p> <i class="fa fa-copyright"></i> 2022 <a href="">TeleCom</a> All Rights Reserved. </p>
            </div>
        </div>
    </div>
</footer>